

/* Hover effects */
.p-splitter-gutter{
    padding: 3px;
}
 .p-splitter-gutter:hover {
    background-color: #4a5568 !important;
    padding: 3px;
}

.p-splitter-gutter-handle{
    background-color:gray;
    padding: 2px;
    border-radius: 10px;
}
 .p-splitter-gutter:hover .p-splitter-gutter-handle::before,
 .p-splitter-gutter:hover .p-splitter-gutter-handle::after
 {
    background-color: rgb(255, 255, 255);
}
/* Style the main horizontal splitter */


